.disabled-day {
  pointer-events: none;
  opacity: 0.3;
}

/* 読売ジャイアンツ ホームゲーム用 */
.読売ジャイアンツ-home {
  background-color: #ffffff !important; /* オレンジ（ホームユニフォーム） */
  color: black !important;
  text-shadow: -0.3px -0.3px 0 #ff9800, 0.3px -0.3px 0 #ff9800,
    -0.3px 0.3px 0 #ff9800, 0.3px 0.3px 0 #ff9800 !important;
  border: 1px solid #ff9800 !important; /* 内側のオレンジの外枠 */
  box-sizing: border-box !important;
  height: 26px !important;
  line-height: 26px !important;
}

/* 読売ジャイアンツ ビジターゲーム用 */
.読売ジャイアンツ-away {
  background-color: #ff9800 !important; /* 白（ビジターユニフォーム） */
  color: black !important;
  text-shadow: -0.3px -0.3px 0 #ffffff, 0.3px -0.3px 0 #ffffff,
    -0.3px 0.3px 0 #ffffff, 0.3px 0.3px 0 #ffffff !important;
  border: 1px solid #000000 !important; /* 内側の黒い外枠 */
  box-sizing: border-box !important;
  height: 26px !important;
  line-height: 26px !important;
}

/* 阪神タイガース ホームゲーム用 */
.阪神タイガース-home {
  background: repeating-linear-gradient(
    90deg,
    #ffffff 0px,
    #ffffff 4.5px,
    #000000 4.5px,
    #000000 5px
  ) !important; /* 白背景に黒い縦縞（ホームユニフォーム） */
  background-size: 5px 100% !important;
  background-position: 0 0 !important;
  color: black !important;
  text-shadow: -0.3px -0.3px 0 #ffd600, 0.3px -0.3px 0 #ffd600,
    -0.3px 0.3px 0 #ffd600, 0.3px 0.3px 0 #ffd600 !important; /* 黄色の縁取り */
}

/* 阪神タイガース ビジターゲーム用 */
.阪神タイガース-away {
  background: repeating-linear-gradient(
    90deg,
    #dbdbdb 0px,
    #dbdbdb 4.5px,
    #000000 4.5px,
    #000000 5px
  ) !important; /* 薄いグレー背景に黒い縦縞（ビジターユニフォーム） */
  background-size: 5px 100% !important;
  background-position: 0 0 !important;
  color: black !important;
  text-shadow: -0.3px -0.3px 0 #ffd600, 0.3px -0.3px 0 #ffd600,
    -0.3px 0.3px 0 #ffd600, 0.3px 0.3px 0 #ffd600 !important; /* 黄色の縁取り */
}

/* 中日ドラゴンズ ホームゲーム用 */
.中日ドラゴンズ-home {
  background-color: #ffffff !important; /* 青（ホームユニフォーム） */
  color: red !important;
  border: 1px solid #2196f3 !important;
  box-sizing: border-box !important;
  height: 26px !important;
  line-height: 26px !important;
}

/* 中日ドラゴンズ ビジターゲーム用 */
.中日ドラゴンズ-away {
  background-color: #2196f3 !important; /* 白（ビジターユニフォーム） */
  color: red !important;
}

/* 広島東洋カープ ホームゲーム用 */
.広島東洋カープ-home {
  background-color: #ffffff !important; /* 赤（ホームユニフォーム） */
  color: red !important;
  border: 1px solid #ff0000 !important;
  text-shadow: -0.3px -0.3px 0 #000000, 0.3px -0.3px 0 #000000,
    -0.3px 0.3px 0 #000000, 0.3px 0.3px 0 #000000;
  box-sizing: border-box !important;
  height: 26px !important;
  line-height: 26px !important;
}

/* 広島東洋カープ ビジターゲーム用 */
.広島東洋カープ-away {
  background-color: #ff0000 !important; /* 白（ビジターユニフォーム） */
  color: white !important;
}

/* 東京ヤクルトスワローズ ホームゲーム用 */
.東京ヤクルトスワローズ-home {
  background: repeating-linear-gradient(
    90deg,
    #ffffff 0px,
    #ffffff 4.5px,
    #ea0422 4.5px,
    #ea0422 5px
  ) !important;
  background-size: 5px 100% !important;
  background-position: 0 0 !important;
  color: #353e41 !important;
}

/* 東京ヤクルトスワローズ ビジターゲーム用 */
.東京ヤクルトスワローズ-away {
  background-color: #2d2a3b !important; /* 白（ビジターユニフォーム） */
  color: #abd75d !important;
}

/* 横浜DeNAベイスターズ ホームゲーム用 */
.横浜DeNAベイスターズ-home {
  background-color: #ffffff !important; /* 青（ホームユニフォーム） */
  color: #031763 !important;
  border: 1px solid #0179e7 !important;
  box-sizing: border-box !important;
  text-shadow: -0.3px -0.3px 0 #59b2de, 0.3px -0.3px 0 #59b2de,
    -0.3px 0.3px 0 #59b2de, 0.3px 0.3px 0 #59b2de;
  height: 26px !important;
  line-height: 26px !important;
}

/* 横浜DeNAベイスターズ ビジターゲーム用 */
.横浜DeNAベイスターズ-away {
  background-color: #0179e7 !important; /* 白（ビジターユニフォーム） */
  color: #0134a9 !important;
  text-shadow: -0.3px -0.3px 0 #aed7f4, 0.3px -0.3px 0 #aed7f4,
    -0.3px 0.3px 0 #aed7f4, 0.3px 0.3px 0 #aed7f4;
}

/* オリックス・バファローズ ホームゲーム用 */
.オリックス・バファローズ-home {
  background-color: #ffffff !important; /*  黒グレー（ホームユニフォーム） */
  color: #141528 !important;
  border: 1px solid #141528 !important;
  text-shadow: -0.3px -0.3px 0 #cdc383, 0.3px -0.3px 0 #cdc383,
    -0.3px 0.3px 0 #cdc383, 0.3px 0.3px 0 #cdc383;
  box-sizing: border-box !important;
  height: 26px !important;
  line-height: 26px !important;
}

/* オリックス・バファローズ ビジターゲーム用 */
.オリックス・バファローズ-away {
  background-color: #11161c !important; /* 白（ビジターユニフォーム） */
  color: #2d3653 !important;
  text-shadow: -0.3px -0.3px 0 #f0f2de, 0.3px -0.3px 0 #f0f2de,
    -0.3px 0.3px 0 #f0f2de, 0.3px 0.3px 0 #f0f2de;
}

/* 埼玉西武ライオンズ ホームゲーム用 */
.埼玉西武ライオンズ-home {
  background-color: #ffffff !important; /* 紺色（ホームユニフォーム） */
  color: #24293c !important;
  border: 1px solid #24293c !important;
  box-sizing: border-box !important;
  height: 26px !important;
  line-height: 26px !important;
}

/* 埼玉西武ライオンズ ビジターゲーム用 */
.埼玉西武ライオンズ-away {
  background-color: #19233c !important; /* 白（ビジターユニフォーム） */
  color: white !important;
}

/* 千葉ロッテマリーンズ ホームゲーム用 */
.千葉ロッテマリーンズ-home {
  background: repeating-linear-gradient(
    90deg,
    #ffffff 0px,
    #ffffff 4.5px,
    #000000 4.5px,
    #000000 5px
  ) !important; /* 白背景に黒い縦縞（ホームユニフォーム） */
  background-size: 5px 100% !important;
  background-position: 0 0 !important;
  color: #24201f !important;
}

/* 千葉ロッテマリーンズ ビジターゲーム用 */
.千葉ロッテマリーンズ-away {
  background-color: #ced4d4 !important; /* 白（ビジターユニフォーム） */
  color: #3e3633 !important;
}

/* 福岡ソフトバンクホークス ホームゲーム用 */
.福岡ソフトバンクホークス-home {
  background-color: #ffffff !important; /* 黄色（ホームユニフォーム） */
  color: black !important;
  border: 1px solid #ffd600 !important;
  box-sizing: border-box !important;
  text-shadow: -0.3px -0.3px 0 #cfced2, 0.3px -0.3px 0 #cfced2,
    -0.3px 0.3px 0 #cfced2, 0.3px 0.3px 0 #cfced2;
  height: 26px !important;
  line-height: 26px !important;
}

/* 福岡ソフトバンクホークス ビジターゲーム用 */
.福岡ソフトバンクホークス-away {
  background-color: #000000 !important; /* 白（ビジターユニフォーム） */
  color: white !important;
  border: 1px solid #ffd600 !important;
  box-sizing: border-box !important;
  text-shadow: -0.3px -0.3px 0 #cfced2, 0.3px -0.3px 0 #cfced2,
    -0.3px 0.3px 0 #cfced2, 0.3px 0.3px 0 #cfced2;
  height: 26px !important;
  line-height: 26px !important;
}

/* 北海道日本ハムファイターズ ホームゲーム用 */
.北海道日本ハムファイターズ-home {
  background-color: #ffffff !important; /* 水色（ホームユニフォーム） */
  color: #ead59b !important;
  border: 1px solid #095da5 !important;
  box-sizing: border-box !important;
  text-shadow: -0.3px -0.3px 0 #e4dbc3, 0.3px -0.3px 0 #e4dbc3,
    -0.3px 0.3px 0 #e4dbc3, 0.3px 0.3px 0 #e4dbc3;
  height: 26px !important;
  line-height: 26px !important;
}

/* 北海道日本ハムファイターズ ビジターゲーム用 */
.北海道日本ハムファイターズ-away {
  background-color: #095da5 !important; /* 白（ビジターユニフォーム） */
  color: #ffffff !important;
}

/* 東北楽天ゴールデンイーグルス ホームゲーム用 */
.東北楽天ゴールデンイーグルス-home {
  background-color: #ffffff !important; /* 赤（ホームユニフォーム） */
  color: #b22222 !important;
  border: 1px solid #b22222 !important;
  box-sizing: border-box !important;
  text-shadow: -0.3px -0.3px 0 #ffd700, 0.3px -0.3px 0 #ffd700,
    -0.3px 0.3px 0 #ffd700, 0.3px 0.3px 0 #ffd700;
  height: 26px !important;
  line-height: 26px !important;
}

/* 東北楽天ゴールデンイーグルス ビジターゲーム用 */
.東北楽天ゴールデンイーグルス-away {
  background-color: #b22222 !important; /* 白（ビジターユニフォーム） */
  color: white !important;
}

/* カレンダーのサイズを拡大（縦横比保持） */
.react-datepicker {
  transform: scale(1.5);
  transform-origin: center top;
  margin-bottom: 200px; /* 拡大した分のマージンを追加 */
}

/* 選択中の日付リストのスタイル */
.selected-dates-list {
  list-style: none;
}
